
# Angular / Node
node_modules/
dist/
.angular/
.cache/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# Laravel / PHP
/vendor/
bootstrap/compiled.php
app/storage/

public/storage
public/hot
public_html/storage
public_html/hot

storage/*.key
.phpunit.result.cache
/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

# Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/